---
layout: default
title: "Web Developer"
---

<h1>About me</h1>

<p>I'm John, a web developer from the UK.</p>
<p>I currently work as a full stack developer in the finance sector, primarily using the .NET stack.</p>
<p>I use technology to make life easier - or to build cool stuff.</p>
<p>My main side project is <a href="https://digi-battle.com" target="_blank">digi-battle.com</a>, a trading card game database launched in 2020.</p>

<h2>Blog</h2>
<ul>
    {% assign sorted-posts = site.posts | where:"featured","true" | sort: 'date' | reverse %}
    {% for item in sorted-posts %}
    <li>
        <p>
            {{ item.date | date_to_string }} ~ <a href="{{ item.url }}">{{ item.name }}</a>
            <span class="tag-list">
                {% for tag in item.tags %}
                <span class="tag {{tag | downcase}}">{{tag}}</span>
                {% endfor %}
            </span>
        </p>
    </li>
    {% endfor %}
</ul>
<a href="/blog">All blog posts</a>
