.top-nav {
    margin: 0 1rem 1rem;
    padding: 0.5rem 0;
    display: flex;
    /*background-color: $primary-background-color;*/
    color: $primary-font-color;

    .nav-link {
        color: $primary-font-color;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    .nav-link:hover .nav-text-hider {
        width: 100%;
    }

    .nav-link:visited {
        color: $primary-font-color;
    }
}

.top-nav .nav-link:first-child {
    text-align: left;
}
.top-nav .nav-link:last-child {
    text-align: right;
}

.nav-text-hider {
    width: 1ch;
    overflow: hidden;
    display: inline-block;
    transition: width .5s linear;
}
