.top-nav {
    margin: 0 1rem 1rem;
    padding: 0.5rem 0;
    display: flex;
    color: $primary-font-color;
    justify-content: space-between;
}

.top-nav__link {
    color: $primary-font-color;
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $primary-font-color;
    }

    &:first-child {
        text-align: left;
    }

    &:last-child {
        text-align: right;
    }
}
