$font-size: 16px;
$font-color: black;
$font-primary: "IBM Plex Mono", monospace;
$font-primary-backup: Courier New, Courier, monospace;


$background-color: white;
$primary-background-color: black;
$primary-font-color: white;