@charset 'utf-8';

@import "_variables";
@import "_animations";
@import "_helpers";
@import "_nav";
@import "_blog";
@import "_cards";
@import "_buttons";
@import "_gallery";

/* ----------------- ELEMENTS ----------------- */

html {
    margin: 0;
    padding: 0;
    font-size: $font-size;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $font-color;
    font-family: $font-primary-backup;
    font-family: $font-primary;
    min-height: calc(100vh - 4px);
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 1rem;
    word-break: break-word;
    word-spacing: -.5ch;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

@media(min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

a {
    color: $link-color;
}

a:visited {
    color: $link-visited-color;
}

pre {
    border: 1px solid #000;
    overflow: scroll;
    max-height: 600px;
}

img {
    max-width: 100%;
}

hr {
    border-color: $font-color;
    border-style: dashed;
}

ul {
    padding-left: 2ch;
}

ol {
    padding-left: 3ch;
}

/* ----------------- CLASSES ----------------- */

.main-body {
    display: block;
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;
    max-width: 100%;
    width: 100%;
}

.home-splash {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: start;
    min-height: 85vh;

    h1 {
        font-size: clamp(6vw,10vw,24vw);
        margin: 4rem 0;
        line-height: 1;

        span {
            color: $accent-color;
            margin-left: 2ch;
        }
    }

    .splash-content {
        grid-column: 1;
    }

    .splash-contact {
        grid-column: 1;
        align-content: end;
        box-shadow: 0 .5em 0 $accent-color;
    }
}

.grid-row {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1, 1fr);
}

@media(min-width: 768px) {
    .home-splash {
        h1 {
            font-size: clamp(3vw,5vw,12vw);
        }

        .splash-content {
            grid-column: 2;
        }

        .splash-contact {
            grid-column: 2;
        }
    }

    .grid-row {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1400px) {
    .home-splash {
        .grid-row {
            grid-template-columns: repeat(4, 1fr);

            .splash-contact {
                grid-column: 3;
            }
        }
    }
}



