* {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
}

html, body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit !important;
}

p {
    margin-bottom: 0;
    opacity: 0.7;
}

h1, h2 {
    margin-top: 0;
}

h2 {
    margin-bottom: 2em;
}

    h2 span {
        font-weight: bold;
    }

.row {
    display: flex;
    flex-flow: column;
}

.column {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    .column h2 {
        padding: 0 1em;
    }

.header {
    min-height: 200px;
    background-color: #386641;
    color: #fff;
}

.half {
    background-color: #F2E8CF;
    padding: 3em 0;
}

    .half:nth-child(1) {
        background-color: #A7C957;
    }

@media(min-width: 768px) {
    .row {
        display: flex;
        flex-flow: row;
    }

    .half {
        height: calc(100vh - 200px);
        padding: 0;
    }
}

.show-settings-button {
    position: absolute;
    top: 1em;
    right: 1em;
}

.settings {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: teal;
    color: #fff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.2s ease-in-out;
}

    .settings.closed {
        height: 0;
    }

    .settings h2 {
        margin-bottom: 1em;
    }

    .settings button {
        width: 100%;
        max-width: 250px;
        border: 1px solid black;
        padding: 10px;
    }

        .settings button:hover {
            cursor: pointer;
        }

.form-group {
    display: block;
    margin-top: 2em;
}

input[type="datetime-local"] {
    background-color: lightcyan;
    border: 1px solid lightcyan;
    padding: 5px 10px;
}

input[type="radio"] {
    display: none;
}

    input[type="radio"] + label {
        background-color: lightcyan;
        border: 1px solid lightcyan;
        color: black;
        padding: 5px 10px;
        user-select: none;
    }

        input[type="radio"] + label:hover {
            cursor: pointer;
        }

    input[type="radio"]:checked + label {
        /*display: none;*/
        background-color: lawngreen;
        border: 1px solid lawngreen;
    }

.d-none {
    display: none;
}