---
title: Trading Card Game Print Ads
description: 
layout: blogpost
tags: GALLERY GRAPHIC-DESIGN TRADING-CARDS
containerClassOverrides: mw-100
---

<div class="readable">
    <p>This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. This is a test of a gallery component. </p>
</div>

<h3>MTG: Onslaught</h3>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-onslaught1.jpg' alt='A print Ad for the Magic: The Gathering expansion ONSLAUGHT showing an X-RAY image of a hand holding cards' description='The X-ray on this one is especially cool to me' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-onslaught2.jpg' alt='A print Ad for the Magic: The Gathering expansion ONSLAUGHT showing an X-RAY image of a centipede in a baby dollt' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-onslaught3.jpg' alt='A print Ad for the Magic: The Gathering expansion ONSLAUGHT showing an X-RAY image of a spider in a toy rabbit' description='' %}
</section>

<h2>MTG: Torment</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-torment1.jpg' alt='A print Ad for the Magic: The Gathering expansion TORMENT showing a skull' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-torment2.jpg' alt='A print Ad for the Magic: The Gathering expansion TORMENT showing the card Laquatus Champion' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-torment3.jpg' alt='A print Ad for the Magic: The Gathering expansion TORMENT showing a deck of cards' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-torment4.jpg' alt='A print Ad for the Magic: The Gathering expansion TORMENT showing the card Psychotic Hate' description='' %}
</section>

<h2>MTG: Tournaments</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-play-big.jpg' alt='A print Ad for the Magic: The Gathering PLAY BIG' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-go-pro1.jpg' alt='A print Ad for the Magic: The Gathering GO PRO themed orange' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-go-pro2.jpg' alt='A print Ad for the Magic: The Gathering GO PRO themed purple and green' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-pride.jpg' alt='A print Ad for the Magic: The Gathering USA Pro Team' description='' %}
</section>

<h2>Magic: The Gathering Online</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-online.jpg' alt='A print Ad for the Magic: The Gathering Online showing a digital city' description="I really like the loud, digital direction here. They're trying to show how massive they're online gaming scene is." %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-online-bon-appetit.jpg' alt='A print Ad for the Magic: The Gathering Online showing a rabbit between a monsters teeth' description='' %}
</section>

<p>Some more Magic: The Gathering sets</p>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-scourge.jpg' alt='A print Ad for the Magic: The Gathering expansion SCOURGE showing a monsters claw' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-betrayers.jpg' alt='A print Ad for the Magic: The Gathering expansion BETRAYERS showing enemies in darkness' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/mtg-legions.jpg' alt='A print Ad for the Magic: The Gathering expansion Legions showing gnashing teeth and the caption OCHLOPHOBIA' description='' %}
</section>

<h2>NetRunner</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/netrunner.jpg' alt='Netrunner CCG print Ad showing a digital city' description='Love this one' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/netrunner2.jpg' alt='Netrunner CCG print Ad showing cards and available stores' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/netrunner3.jpg' alt='Netrunner CCG print Ad with text: if data is everything who will control it?' description='if data is everything, who will control it?' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/netrunner4.jpg' alt='Netrunner CCG print Ad showing a hacker at a computer' description='' %}
</section>

<h2>Yu-Gi-Oh!</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/yugioh-starter.jpg' alt='Yu-Gi-Oh! Print Ad for starter decks' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/yugioh-magic-ruler.jpg' alt='Yu-Gi-Oh! Print Ad for Magic Ruler' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/yugioh-metal-raiders.jpg' alt='Yu-Gi-Oh! Print Ad for Metal Raiders' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/yugioh-dark-beginning.jpg' alt='Yu-Gi-Oh! Print Ad for Dark Beginning' description='' %}
</section>

<h2>Digimon Digi-Battle</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/digi-battle.jpg' alt='Digimon Digi-Battle Print Ad' description='Absolutely awful' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/digi-battle-7-eleven.jpg' alt='Digimon Digi-Battle Print Ad showing product packaging' description='... but it gets worse' %}
</section>

<h2>Digimon CCG</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/digimon-ccg.jpg' alt='Digimon CCG Print Ad for Hybrid Warriors' description='Bandai finally invested in their Digimon card design' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/digimon-ccg2.jpg' alt='Digimon CCG Print Ad for base set' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/digimon-ccg-x.jpg' alt='Digimon CCG Print Ad for Operation X' description='' %}
</section>

<h2>BATTLETECH</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/battletech1.jpg' alt='BATTLETECH TCG Print Ad Come Get Some' description='Insanely hard' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/battletech2.jpg' alt='BATTLETECH TCG Print Ad Tap This' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/battletech3.jpg' alt='BATTLETECH TCG Print Ad Identify Yourself' description='' %}
</section>

<h2>Duel Masters</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/duel-masters-1.jpg' alt='Duel Masters Print Ad kids on a schoolbus' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/duel-masters-2.jpg' alt='Duel Masters Print Ad a water monster behind red Japanese text' description='' %}
</section>

<h2>Chaotic</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/chaotic.jpg' alt='Chaotic card game print Ad showing cards' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/chaotic2.jpg' alt='Chaotic card game print Ad showing online game' description='' %}
</section>

<h2>Licensed Products</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/dot-hack.jpg' alt='.hack trading card game print ad' description="I love the little mock UI they've created to contain the product info" %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/dbz-ultimate-power.jpg' alt='Dragonball Z Ultimate Showdown TCG Print Ad' description='' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/fruits-basket.jpg' alt='Fruits Basket TCG Print Ad' description="Why bother putting the product in the advert? You're buying it for the anime characters" %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/gundam-war.jpg' alt='Gundam Wars TCG Print Ad' description='... or in this case robots' %}
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/kingdom-hearts.jpg' alt='Kingdom Hearts TCG Print Ad' description='' %}
</section>

<h2>Other</h2>
<section class="gallery">
    {% include gallery-card.html img='/assets/img/blog/tcg-print-ads/havic-the-bothering.jpg' alt='Havic The Bothering TCG Print Ad' description='' %}
</section>